# Environnement virtuel
venv/
env/
ENV/

# Base de données
*.sqlite3
*.db

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichiers de configuration sensibles (à adapter selon ton projet)
.env
config/settings/local.py

# Fichiers statiques et médias (si tu ne veux pas les versionner)
staticfiles/
media/

# IDE
.vscode/
.idea/